body {
	background-color: whitesmoke; /*setter bakgrunnsfarge*/
}

.leftContainer {
	position: fixed;

	left: calc(3% - 20px);
	width: calc(42% - 210px);

	text-align: center;

	top: calc(50vh - 250px);
	height: 498px;

	background-color: rgb(236, 236, 236);
	border: 1px solid black;

	z-index: -1;
}

#howToTitle {
	height: auto;
	font-size: calc(2.2vw - 15px);

	z-index: 1;
}
#settingsTitle {
	height: auto;
	font-size: calc(2.2vw - 15px);

	top: calc(50vh - 110px + 98px);

	z-index: 1;
}

#howToText {
	background-color: transparent;
	border: none;

	top: calc(50vh - 265px + 98px);

	font-size: calc(3vw - 15px);

	z-index: 1;
}
#settingsText {
	background-color: transparent;
	border: none;

	top: calc(50vh + 98px);

	font-size: calc(3vw - 15px);

	z-index: 1;
}

#myCanvas {
	position: fixed;
	left: calc(50% - 250px);
	top: calc(50vh - 250px);
	z-index: 0;
}

.levelsDivs {
	position: fixed;

	left: calc(55% + 230px);
	width: calc(30% - 80px);

	text-align: center;
}

#outlineLevels {
	top: calc(50vh - 250px);
	height: 499px;

	background-color: rgb(236, 236, 236);
	border: 1px solid black;
	border-bottom: none;
}

#titleLevels {
	top: calc(50vh - 250px);
	height: auto;

	font-size: calc(2.5vw - 15px);

	background-color: rgb(236, 236, 236);
	border: 1px solid black;

	z-index: 2;
}

#hideOutsideLevelsTop {
	top: 0px;
	height: calc(50vh - 250px + 80px - 5vw);

	background-color: whitesmoke;
	z-index: 1;
}

#hideOutsideLevelsBottom {
	top: calc(50vh + 249px);
	width: calc(30% - 79px);
	height: 1000px;

	border-top: 1px solid black;

	background-color: whitesmoke;
	z-index: 1;
}

#levels {
	position: absolute;
	/*top: 98px;*/
	top: calc(50vh - 250px + 98px);
	
	font-size: calc(2.5vw - 15px);

	margin-block-end: calc(50% - 510px);
}

.easy, .medium, .hard {
	margin: 10px;

	height: 60px; 
	width: 60px;
	border-radius: 5px;

	color: white;
	font-size: 26px;
}

#levels > .easy {
	background-color: yellowgreen;
}
#levels > .medium {
	background-color: rgb(216, 219, 39);
}
#levels > .hard {
	background-color: rgb(250, 42, 42);
}

#autoSkipID {
	width: 20px;
	height: 20px;
	left: calc(22vw - 205px);
	top: calc(50vh + 5px);
}
